<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('quivi/profile/techniquestypes') ?>"><?= e(trans('quivi.profile::lang.techniquetype.techniquestypes')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>